body {
  background-color: #025d63;
}
body > p {
  font-size: 5vw;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  margin: 0;
  font-family: "Verdana", sans-serif;
  color: white;
}
